.filter_form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 80px;
    gap: 5px;
    background-color: #04152d;
    padding: 0 25%;
    flex-wrap: wrap;
    justify-content: center;

}

.filter_form select::-webkit-scrollbar {
    width: 5px;
}

.filter_form select::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.filter_form select::-webkit-scrollbar-thumb {
    background: rgb(248, 158, 0);
    ;
}

.filter_form select::-webkit-scrollbar-thumb:hover {
    background: rgb(248, 158, 0);
}

.filter_form select {
    border: 1px solid rgb(139 92 246);
    /* padding: 10px 20px; */
    height: 40px;
    width: 170px;
    background-color: rgba(4, 21, 45);
    color: #fff;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    text-align: center;

}

.filter_form option {
    color: #fff;
    filter: blur(50px);

}

.filter_form option:hover {
    background-color: red;
    background-color: rgb(139 92 246);
}

.filter_form .button_filter {
    border: 1px solid rgb(139 92 246);
    color: #fff;
    border-radius: 5px;
    padding: 0 20px;
    background-color: rgb(139 92 246) !important;


}

.filter_form button:hover {
    background-color: rgb(139 92 246);
}

.filter_form i {
    font-size: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    position: relative;
}


@media (max-width:1024px) {
    .filter_form {
        display: grid;
        column-gap: 5px;
        grid-template-columns: 1fr 1fr 1fr 1fr 50px !important;
        justify-content: center !important;
        margin: auto;
        gap: 5px;
        padding: 0 10%;
    }


    .filter_form select {
        width: 100%;
        height: 35px;
        font-size: 10px;
        padding: 2px 0 2px 4px;
        text-align: center;
    }

    .filter_form .button_filter {
        font-size: 10px;
        justify-content: center;
        align-items: center;
        background-color: rgb(139 92 246) !important;
        padding: 0 10px;
    }
}


@media (max-width:700px) {
    .filter_form {
        display: grid;
        column-gap: 5px;
        grid-template-columns: 1fr 1fr 1fr 1fr 50px !important;
        justify-content: center !important;
        margin: auto;
        gap: 5px;
        padding: 0 2%;
    }


    .filter_form select {
        width: 100%;
        height: 25px;
        font-size: 10px;
        padding: 2px 0 2px 2px;
        text-align: center;
    }

    .filter_form .button_filter {
        font-size: 10px;
        justify-content: center;
        align-items: center;
        background-color: rgb(139 92 246) !important;
        padding: 0 10px;
    }
}

@media (max-width:320px) {
    .filter_form {
        display: grid;
        column-gap: 5px;
        grid-template-columns: repeat(3, 90px) !important;
        justify-content: center !important;
        margin: auto;
        gap: 5px;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }


    .filter_form select {
        width: 100%;
        height: 25px;
        font-size: 10px;
        padding: 2px 4px;
        text-align: center;
    }

    .filter_form .button_filter {
        font-size: 10px;
        justify-content: center;
        align-items: center;
        background-color: rgb(139 92 246) !important;
        padding: 7px 10px !important;
    }
}