.video {
    background-size: cover;
    padding: 100px 10% 20px 10%;
    position: relative;
    height: auto;
    width: 100%;
    background-position: center;
    overflow: hidden;
}

.video::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;
    z-index: 1;
}

.video::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(4, 21, 45, 0.8) 0%, rgba(4, 21, 45, 0.8) 50%, rgba(4, 21, 45, 1) 100%);
}

.video video {
    position: relative;
    z-index: 7;
    border-radius: 10px;
}

.video video:focus {
    outline: none;
}

.episodes {
    background-color: #04152d;
    padding: 10px 10%;
}

.episodes .info_item {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    row-gap: 10px;
    max-height: 300px; 
    column-gap: 10px;
    padding: 0px 10px;
    overflow: auto;
    overflow-x: hidden; 
    box-sizing: border-box;
}

.info_item::-webkit-scrollbar {
    width: 5px; 
}

.info_item::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}

.info_item::-webkit-scrollbar-thumb {
    background: #da2f68; 
    border-radius: 10px;
}

.info_item::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.episodes .button_container {
    display: flex;
    justify-content: center;
}

.episodes button {
    width: 100%;
    height: 40px;
    background: linear-gradient(98.37deg, #f89e00 .99%, #da2f68 100%);
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    border: none;
    cursor: pointer;
    line-height: 20px;
    font-size: 13px;
}

.episodes button:hover {
    background: linear-gradient(98.37deg, #359000 .99%, #f89e00 100%);
}

.episodes h5 {
    font-family: "Inter", sans-serif;
    text-transform: capitalize;
    font-size: 25px;
}

@media (max-width: 1024px) and (min-width: 769px) {
    .video {
        background-size: cover;
        padding: 100px 10% 20px 10%;
        position: relative;
        height: auto;
        width: 100%;
        background-position: center;
        overflow: hidden;
    }

    .video::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: inherit;
        background-size: inherit;
        background-position: inherit;
        z-index: 1;
    }

    .video::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
        background: linear-gradient(to bottom,
                rgba(4, 21, 45, 0.8) 0%,
                rgba(4, 21, 45, 0.8) 50%,
                rgba(4, 21, 45, 1) 100%);
    }

    .video video {
        position: relative;
        z-index: 7;
        border-radius: 10px;
    }

    .video video:focus {
        outline: none;
    }

    .episodes {
        background-color: #04152d;
        padding: 10px 10%;
    }

    .episodes .info_item {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    }

    .episodes .button_container {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .episodes button {
        width: 100%;
        height: 40px;
        /* padding: 10px 25px; */
        background: linear-gradient(98.37deg, #f89e00 .99%, #da2f68 100%);
        border-radius: 10px;
        color: #fff;
        font-weight: 600;
        border: none;
        cursor: pointer;
        line-height: 20px;
        font-size: 13px;
    }

    .episodes button:hover {
        background: linear-gradient(98.37deg, #359000 .99%, #f89e00 100%);
    }

    .episodes h5 {
        font-family: "Inter", sans-serif;
        text-transform: capitalize;
        font-size: 25px;
    }
}

@media (max-width: 768px) and (min-width: 481px) {
    .video {
        background-size: cover;
        padding: 100px 5% 20px 5%;
        position: relative;
        height: auto;
        width: 100%;
        background-position: center;
        overflow: hidden;
    }

    .video::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: inherit;
        background-size: inherit;
        background-position: inherit;
        z-index: 1;
    }

    .video::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
        background: linear-gradient(to bottom,
                rgba(4, 21, 45, 0.8) 0%,
                rgba(4, 21, 45, 0.8) 50%,
                rgba(4, 21, 45, 1) 100%);
    }

    .video video {
        position: relative;
        z-index: 7;
        border-radius: 10px;
    }

    .video video:focus {
        outline: none;
    }

    .episodes {
        background-color: #04152d;
        padding: 10px 5%;
    }

    .episodes .info_item {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 10px;

    }

    .episodes .button_container {
        display: flex;
        justify-content: center;
    }

    .episodes button {
        width: 100%;
        height: 40px;
        /* padding: 10px 25px; */
        background: linear-gradient(98.37deg, #f89e00 .99%, #da2f68 100%);
        border-radius: 10px;
        color: #fff;
        font-weight: 600;
        border: none;
        cursor: pointer;
        line-height: 20px;
        font-size: 13px;
    }

    .episodes button:hover {
        background: linear-gradient(98.37deg, #359000 .99%, #f89e00 100%);
    }

    .episodes h5 {
        font-family: "Inter", sans-serif;
        text-transform: capitalize;
        font-size: 25px;
    }
}


@media (max-width: 480px) and (min-width: 320px) {
    .video {
        background-size: cover;
        padding: 70px 20px 20px 20px;
        position: relative;
        height: auto;
        width: 100%;
        background-position: center;
        overflow: hidden;
    }

    .video::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: inherit;
        background-size: inherit;
        background-position: inherit;
        z-index: 1;
    }

    .video::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
        background: linear-gradient(to bottom,
                rgba(4, 21, 45, 0.8) 0%,
                rgba(4, 21, 45, 0.8) 50%,
                rgba(4, 21, 45, 1) 100%);
    }

    .video video {
        position: relative;
        z-index: 7;
        border-radius: 10px;
    }

    .video video:focus {
        outline: none;
    }

    .episodes {
        background-color: #04152d;
        padding: 10px 20px;

    }

    .episodes .title h5 {
        font-size: 18px;
    }

    .episodes .info_item {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;

    }

    .episodes .button_container {
        display: flex;
        justify-content: center;
    }

    .episodes button {
        width: 100%;
        height: 30px;
        /* padding: 10px 25px; */
        background: linear-gradient(98.37deg, #f89e00 .99%, #da2f68 100%);
        border-radius: 10px;
        color: #fff;
        font-weight: 600;
        border: none;
        cursor: pointer;
        line-height: 20px;
        font-size: 11px;
    }

    .episodes button:hover {
        background: linear-gradient(98.37deg, #359000 .99%, #f89e00 100%);
    }

    .episodes h5 {
        font-family: "Inter", sans-serif;
        text-transform: capitalize;
        font-size: 25px;
    }
}