.show_series {
    padding: 10px 200px 50px 200px;
    background-color: #04152d;
    /* height: 100vh; */

}

.show_series .category {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 25px;
    text-transform: capitalize;
    padding: 10px 0;
}

.show_series .movie {
    padding: 5px 10px;

}

.show_series .movie img {
    border-radius: 20px;
    height: 320px;
    width: 100%;
    z-index: 1;
    position: relative;
}

.show_series .movie .year {
    background-color: #fff;
    width: 55px;
    height: 55px;
    display: grid;
    align-items: center;
    margin-top: -25px;
    z-index: 2;
    border-radius: 50%;
    position: relative;
}

.show_series .movie .year p {
    margin: auto;
    width: 50px;
    height: 50px;
    border: 5px solid rgb(76, 187, 23);
    border-radius: 50%;
    align-items: center;
    display: grid;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 500;
    background-color: #fff;

}

.show_series .movie .title a {
    font-family: "Inter", sans-serif;
    text-decoration: none;
    font-weight: 400;
    color: #fff;
    font-size: 18px;

}

.title {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    padding: 10px 0;
}

.show_series .view_more button {
    color: #fff;
    padding: 10px 20px;
    background: linear-gradient(98.37deg, #f89e00 .99%, #da2f68 100%);
    border-radius: 20em;
}

.show_series .view_more button:hover {
    background: linear-gradient(98.37deg, #359000 .99%, #f89e00 100%);
}

.show_series .view_more {
    padding: 80% 20%;
}

.loading img {
    font-size: 10px;
    margin: auto;
}