
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  background-color: #020c1b;
}

body::-webkit-scrollbar {
  width: 5px; 
}

body::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

body::-webkit-scrollbar-thumb {
  background:rgb(248, 158, 0);; 
}

body::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

